apiVersion: apps/v1
kind: Deployment
metadata:
  name: easy-school-deployment
  labels:
    app: easy-school
spec:
  replicas: 2
  selector:
    matchLabels:
      app: easy-school
  template:
    metadata:
      labels:
        app: easy-school
    spec:
      containers:
        - name: easy-school
          image: queensley/project-easy-school-web:latest
          ports:
            - containerPort: 80
